<footer class="bot-tab">
	<ul class="bot-tab-list">
		<li class="active bot-tab-new"><a href="__MODULE__/Shop/shop"><img src="__PUBLIC__/wx/apla/img/1_03.png"></a></li>
		<li class="active bot-tab-new "><a href="__MODULE__/Goods/goods_show"><img src="__PUBLIC__/wx/apla/img/1_05.png"></a></li>
		<li class="active bot-tab-new "><a href="__MODULE__/Cart/mycart"><img src="__PUBLIC__/wx/apla/img/1_07.png"></a></li>
		<li class="active bot-tab-new "><a href="__MODULE__/Myinfo/myinfo"><img src="__PUBLIC__/wx/apla/img/1_09.png"></a></li>
	</ul>
</footer>