<div class="sidebar" id="sidebar">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>

	<ul class="nav nav-list">


		<li <php>if(!in_array(1,$group_json)){echo "style='display:none;'";}</php>
		>
		<a href="">
			&nbsp;&nbsp;
			<span class="menu-text"><b><img src="Public/tb1.gif" width="20" /></b>&nbsp;商城设置 </span>
		</a>
		</li>




		<li
		<php>if(!in_array(11,$group_json)){echo "style='display:none;'";}</php>>
		<a href="javascript:void(0)">
			&nbsp;&nbsp;
			<span class="menu-text"><b><img src="Public/tb2.gif" width="20" /></b>&nbsp;分销设置 </span>
		</a>
		</li>




		<li  <php>if(!in_array(2,$group_json)){echo "style='display:none;'";}</php>>
		<a href="javascript:void(0)">
			&nbsp;&nbsp;
			<span class="menu-text"><b><img src="Public/tb4.gif" width="20" /></b>&nbsp;商品分类 </span>
		</a>
		</li>

		<li  <php>if(!in_array(3,$group_json)){echo "style='display:none;'";}</php>>
		<a href="javascript:void(0)">
			&nbsp;&nbsp;
			<span class="menu-text"><b><img src="Public/tb5.gif" width="20" /></b>&nbsp;商品管理 </span>
		</a>
		</li>

		<li  <php>if(!in_array(4,$group_json)){echo "style='display:none;'";}</php>>
		<a href="javascript:void(0)">
			&nbsp;&nbsp;
			<span class="menu-text"><b><img src="Public/tb6.gif" width="20" /></b>&nbsp;订单管理 </span>
		</a>
		</li>



		<li  <php>if(!in_array(5,$group_json)){echo "style='display:none;'";}</php>>
		<a href="javascript:void(0)">
			&nbsp;&nbsp;
			<span class="menu-text"><b><img src="Public/tb8.gif" width="20" /></b>&nbsp;用户管理 </span>
		</a>
		</li>

		<li  <php>if(!in_array(6,$group_json)){echo "style='display:none;'";}</php>>
		<a href="javascript:void(0)">
			&nbsp;&nbsp;
			<span class="menu-text"><b><img src="Public/tb9.gif" width="20" /></b>&nbsp;微信管理 </span>
		</a>
		</li>

		<li  <php>if(!in_array(7,$group_json)){echo "style='display:none;'";}</php>>
		<a href="javascript:void(0)">
			&nbsp;&nbsp;
			<span class="menu-text"><b><img src="Public/tb10.gif" width="20" /></b>&nbsp;提现管理 </span>
		</a>
		</li>

		<li  <php>if(!in_array(8,$group_json)){echo "style='display:none;'";}</php>>
		<a href="javascript:void(0)">
			&nbsp;&nbsp;
			<span class="menu-text"><b><img src="Public/tb11.gif" width="20" /></b>&nbsp;数据统计 </span>
		</a>
		</li>

		<li  <php>if(!in_array(9,$group_json)){echo "style='display:none;'";}</php>>
		<a href="javascript:void(0)">
			&nbsp;&nbsp;
			<span class="menu-text"><b><img src="Public/tb12.gif" width="20" /></b>&nbsp;幻 灯 片 </span>
		</a>
		</li>

		<li  <php>if(!in_array(10,$group_json)){echo "style='display:none;'";}</php>>
		<a href="javascript:void(0)">
			&nbsp;&nbsp;
			<span class="menu-text"><b><img src="Public/tb13.gif" width="20" /></b>&nbsp;管 理 员 </span>
		</a>
		</li>




		<li>
			<a href="javascript:void(0)">
				&nbsp;&nbsp;
				<span class="menu-text"><b><img src="Public/tb10.gif" width="20" /></b>&nbsp;优惠商品管理 </span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">
				&nbsp;&nbsp;
				<span class="menu-text"><b><img src="Public/tb10.gif" width="20" /></b>&nbsp;活动管理 </span>
			</a>
		</li>


	</ul><!-- /.nav-list -->

	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>
</div>